*{
    margin: 0 !important;
    padding: 0 !important
}
.card-container{
    padding-top: 100px !important;
    max-width: 80vw !important;
    margin: 0 auto !important;
}
.container{
    max-width: 80vw !important;
    margin: 0 auto !important;
}
.col{
    width: 20%;
    border: 1px solid black;
}
.row{
    width: 80vw;
    margin: 0 auto !important;
}
.btn-primary{
    width: 100px;
    font-size: .8rem;
}

.breadcrumb-item{
    padding-right: 10px !important;
}